<!DOCTYPE html>
{% load static %}

<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Über uns</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

    <nav class="nav-container">
        <img src="{% static 'css/amslogo.png' %}" alt="Logo" class="logo">
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about/">Über uns</a></li>
            <a href="/contact/" class="btn">Anmeldeformular zu den Veranstaltungen</a>
            <a href="/contact/" class="btn">Jetzt Kontakt aufnehmen</a>
        </ul>
    </nav>

    <div class="content" style="color: white; padding: 20px;">
        <h1>Über unseren Verein</h1>
        <p>
            Über uns
            Motorsport zum Anfassen – das steht für die AMS an erster Stelle.

            Deshalb möchten wir – die Akademische Motorsportgruppe Stuttgart e.V. – unseren Mitgliedern neben der
            theoretischen technischen Ausbildung an der Universität die Möglichkeit geben, ihr Wissen in der Praxis
            anzuwenden.

            In der vereinseigenen Werkstatt können diese Fähigkeiten ausgebaut werden. Unsere Mitglieder profitieren
            dabei von der gegenseitigen Unterstützung und dem regen Austausch über technische Probleme.

            Zahlreiche Veranstaltungen, wie Slalomlehrgänge, Kartfahren und das alljährliche Akademische ermöglichen
            unseren Mitgliedern zudem, Motorsport zu erleben und durch die selbständige Organisation einen Blick hinter
            die Kulissen zu werfen.

            Durch das lange Bestehen (1956) können die Mitglieder zudem von der Erfahrung der „alten Herren“ profitieren
            und enge Verbindungen in die Wirtschaft knüpfen.

            Zuletzt ist nur eines zu sagen:

            Vive l’AMS
        </p>
    </div>

</body>

</html>