{% load static %}
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Kontakt</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="navigation">
        <div class="logo">
            <h3>Akademische Motorsportgruppe Stuttgart e.V.</h3>
        </div>

        <div class="menu-items">
            <a href="/">Home</a>
            <a href="/about/">Über uns</a>
            <a href="{% url 'anmeldung' %}" class="btn">Anmelden</a>
            <a href="/contact/" class="btn">Kontakt</a>
        </div>    
    </div>

    <h1>Kontakt aufnehmen</h1>
    <p>Du kannst uns über folgende E-Mail-Adressen erreichen:</p>
    <ul>
        <li><a href="mailto:info@verein.de">info@verein.de</a></li>
        <li><a href="mailto:kontakt@verein.de">kontakt@verein.de</a></li>
    </ul>
</body>

</html>