{% load static %}
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMS e.V.</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="navigation">
        <div class="logo">
            <h3>Akademische Motorsportgruppe Stuttgart e.V.</h3>
        </div>

        <div class="menu-items">
            <a href="/">Home</a>
            <a href="/about/">Über uns</a>
            <a href="{% url 'anmeldung' %}" class="btn">Anmelden</a>
            <a href="/contact/" class="btn">Kontakt</a>
        </div>    
    </div>

    <!-- Hauptinhalt -->
    <div class="title">
        <h1>Driver wanted.</h1>
    </div>
    
    <div class="subtitle">
        <p>Your motorsport journey starts here.</p>
    </div>

</body>

</html>