body {
    background-color: #F9F6EE;
    width: 85vw;
    margin: 0 auto;
    padding-top: 40px;
    font-family: "Raleway", sans-serif;
}

/* Navigation */
.logo {
    color: #333333;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation a {
    margin-left: 10px;
    text-decoration: none;
    color: #333333;
}

.title h1 {
    margin-top: 10%;
    font-size: 7em;
    color: #FF5733;
    letter-spacing: normal;
    font-weight: bold;
}

.subtitle p {
    font-size: 2em;
    letter-spacing: normal;
    font-size: bold;
    color:#333333;
}

.qr-btn button {
    background-color: #FF5733;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.qr-title h1 {
    margin-top: 10%;
    font-size: 7em;
    color: #333333;
    letter-spacing: normal;
    font-weight: bold;
}

/* Formular Container */
form {
    width: 100%;
    max-width: 600px;
    /* Maximale Breite für das Formular */
    margin: 0 auto;
    /* Formular zentrieren */
    padding: 20px;
    background-color: #a1c0e0;
    /* Hintergrundfarbe für das Formular */
    border-radius: 8px;
    /* Abgerundete Ecken */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Schatten für das Formular */
}

/* Formular Felder */
form input,
form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Für Textarea */
form textarea {
    resize: vertical;
}

/* Formular-Schaltfläche */
form button {
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover-Effekt für die Schaltfläche */
form button:hover {
    background-color: #0056b3;
}

/* Eingabefelder verbessern */
input[type="text"],
input[type="email"],
textarea {
    font-size: 16px;
}

/* Jedes Formularfeld (Label + Eingabefeld) wird als Block-Element angezeigt */
form label,
form input,
form textarea,
form select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    /* Abstand zwischen den Feldern */
}

/* Optional: Du kannst den Abstand zwischen dem Label und dem Eingabefeld noch weiter anpassen */
form label {
    margin-bottom: 5px;
    /* Abstand zwischen Label und Eingabefeld */
}